.container {
   width: 600px;
   height: 600px;
   position: relative;
}
.container img {
   max-width: 100%;
}

.slide {
   height: 100%;
   width: 100%;
   background-color: cyan;
   position: absolute;
   z-index: 1;
}

.slide > * {
   height: 100%;
   margin: 0;
   overflow: hidden;
}

.forward .slides-enter {
   right: 0;

   transition: width .35s ease-in;
   width: 0%;
}
.forward .slides-enter.slides-enter-active {
   width: 100%;
}
.forward .slides-leave {
   transition: width .35s ease-in;
   width: 100%;
}

.forward .slides-leave.slides-leave-active {
   width: 0%;
}



.backward .slides-enter {
   transition: width .35s ease-in;
   width: 0%;
}
.backward .slides-enter.slides-enter-active {
   width: 100%;
}
.backward .slides-leave {
   right: 0;
   
   transition: width .35s ease-in;
   width: 100%;
}
.backward .slides-leave.slides-leave-active {
   width: 0%;
}

.selection {
   position: relative;
   width: 100%;
}
.selection > * {
   position: absolute;
}

.selection-enter {
   transition: left .35s ease-in;
   left: -600px;
}
.selection-enter.selection-enter-active {
   left: 0px;

}

.selection-leave {
   transition: left .35s ease-in;
   left: 0px;
}
.selection-leave.selection-leave-active {
   left: 600px;
}
